{{log configJobData}}
{{#each configJobData}}
  <section class="testimonial">
    <section class="testimonial-ind">
      <h3>
        Zipcode: {{zipcode}}
      </h3>
      <h4>
        {{#unless job_status}}
        Number of Workers Needed: {{number_workers}}
      </h4>
      <p>
        At a Rate: ${{cost_per_worker}}/hour
      </p>
      <button data-id="{{job_id}}" class="jobSignUpBtn submit success button">Sign Up!</button>
      {{else}}
      <p>Job filled</p>
      {{/unless}}
    </section>
  </section>
{{/each}}