<h1>Pricing</h1>
{{log compData}}

{{#each compData}}
  <section class="compensation">
    <section class="compensation-ind">
      <p>Job ID: {{job_id}}</p>
      <p>Pay: ${{compensation}}</p>
    </section>
  </section>
{{/each}}
{{!-- {{log userData}}
{{#each userData}}
  <p>Location: {{zipcode}}</p>
{{/each}}   --}}
